h1 {
  color: #264653;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 3.5rem;
}

h2 {
  color: #264653;
  padding: 2% 0 0;
}

p {
  color: #264653;
}

.backdrop {
  margin-top: 10%;
  padding: 5% 10%;
  background-color: #bec8cc;
  border-radius: 20px;
  text-align: center;
}

.btn-primary {
  margin: 10% auto 5%;
  padding: 2% 10%;
}
