<div class="container">
    <h1>Create a Survey</h1>
    <div class="backdrop1">
        <form action="">
            <div class="row">
                <h3>Survey Name:</h3><br>
                <div class="col-9"><input class="form-control" type="text" /></div><br><br>
                <h3>Survey Type:</h3><br>
                <div class="col-9"><input class="form-control" type="text" /></div><br><br>
                <h3>Availibilities:</h3><br>
                <div class="col-9"><input class="form-control" type="date" /></div><br>
                <div class="col-9"><input class="form-control" type="date" /></div><br>
            </div>
        </form>
    </div>
        <br />
        <div class="backdrop2">
          <form action="">
            <div class="row">
                <h4>Question 1:</h4><br>
                <div class="col-9"><input class="form-control" type="text" /></div><br><br>
                <h4>Question 1 Responses:</h4><br>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
        </div>
            <br />
            <div class="row">
                <h4>Question 2:</h4><br>
                <div class="col-9"><input class="form-control" type="text" /></div><br><br>
                <h4>Question 2 Responses:</h4><br>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
            </div><br>
            <div class="row">
                <h4>Question 3:</h4><br>
                <div class="col-9"><input class="form-control" type="text" /></div><br><br>
                <h4>Question 3 Responses:</h4><br>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
            </div><br>
            <div class="row">
                <h4>Question 4:</h4><br>
                <div class="col-9"><input class="form-control" type="text" /></div><br><br>
                <h4>Question 4 Responses:</h4><br>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
            </div><br>
            <div class="row">
                <h4>Question 5:</h4><br>
                <div class="col-9"><input class="form-control" type="text" /></div><br><br>
                <h4>Question 5 Responses:</h4><br>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
                <div class="col-4"><input class="form-control" type="text" /></div>
            </div><br /><br /><br />
            <div class="container-center">
                <div class="row">
                    <div class="col-5">
                <a href="/survey-list"><button type="submit" class="btn btn-danger">Cancel</button></a></div>
                <div class="col-5">
                <button type="submit" class="btn btn-primary"> Save Survey</button></div>
                </div>
            </div>
          </form>
    </div>
</div>
