<div class="container">
  <h1>About Us</h1>
  <div class="row justify-content-md-center">

    <div class="col-md-4">
      <img class="img-profile" src="assets/images/teamIMG/profile_img_ben.jpeg" alt="Profile Benjamin" />
      <h5 class="card-title">Benjamin Lefebvre</h5>
      <p class="card-text">
        Project Co-Lead & Front-end Lead Programmer
      </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img class="img-profile" src="assets/images/teamIMG/profile_img_fred.png" alt="Profile Fred" />
      <h5 class="card-title">Fred Wong</h5>
      <p class="card-text">
        Project Co-Lead & Back-end Lead Programmer
      </p>
    </div>
  </div>
  
</div>