<div class="container">
  <h1>Survey List</h1>
  <div class="row">
    <div class="col-8"><input type="text" /></div>
    <div class="col-4"><button>New Survey</button></div>
  </div>
  <div class="row">
    <div *ngFor="let survey of surveys">
      <div class="col-12">
        {{survey.title}}
        <!-- <div class="col-4">Name</div>
        <div class="col-3">Survey Type</div>
        <div class="col-3">Status</div>
        <div class="col-1"></div>
        <div class="col-1"></div> -->
      </div>
    </div>
  </div>
</div>
