h1 {
  margin-bottom: 4%;
}

h5 {
  color: #264653;
}

.form-control {
  height: 60px;
  border-radius: 20px;
}

.search-bar {
  padding: 0 3%;
}

a:link {
  text-decoration: none;
  color: #264653;
}

a:visited {
  text-decoration: none;
  color: #264653;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  text-decoration: none;
  color: #264653;
}

.list-header {
  padding: 1% 1% 0.25% 3%;
  background-color: #bec8cc;
  border-radius: 20px;
  margin: 5% 0 2%;
}

.list-box {
  padding: 1% 1% 1% 3%;
  border-radius: 20px;
}
.list-del {
  display: inline;
  width: 3%;
  margin-right: 2%;
  color: #e76f51;
  font-weight: 800;
  display: flex;
  align-items: center;
}

.list-name {
  display: inline;
  width: 40%;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.list-type {
  display: inline;
  width: 20%;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.list-status {
  display: inline;
  width: 20%;
  margin-right: 5%;
  display: flex;
  align-items: center;
}

.survey-active {
  cursor: pointer;
  background-color: #bec8cc;
}

.survey-inactive {
  cursor:default;
  background-color: #bec8cc;
  opacity: 50%;
}

.btn-list {
  width: 100%;
  height: 75px;
  border-radius: 15px;
  font-weight: 600;
  font-size: large;
}

.btn-outline-primary {
  border-color: #2a9d8f;
  color: #fff;
}

.btn-outline-primary:hover {
  background-color: #2a9d8f;
}

.btn-outline-primary.active {
  background-color: #2a9d8f;
}
