<div class="container">
  <h1>Survey List</h1>

  <form action="">
    <div class="row">
      <div class="col-9"><input class="form-control" type="text" /></div>
      <div class="col-3">
        <button class="btn btn-primary btn-new">New Survey</button>
      </div>
    </div>
  </form>

  <div class="list-header d-flex flex-row">
    <div class="list-del"></div>
    <div class="list-name">
      <h5>Name</h5>
    </div>
    <div class="list-type">
      <h5>Survey Type</h5>
    </div>
    <div class="list-status">
      <h5>Status</h5>
    </div>
    <div class="list-edit"></div>
    <div class="list-duplicate"></div>
  </div>
  <div *ngFor="let survey of surveys" class="list-box mt-2 d-flex flex-row">
    <div class="list-del">X</div>
    <div class="list-name">
      <h5>{{ survey.title }}</h5>
    </div>
    <div class="list-type">
      <h5>{{ survey.type }}</h5>
    </div>
    <div class="list-status">
      <h5>{{ survey.status }}</h5>
    </div>
    <div class="list-edit">
      <button type="button" class="btn btn-primary btn-list">Edit</button>
    </div>
    <div class="list-duplicate">
      <button type="button" class="btn btn-warning btn-list">Duplicate</button>
    </div>
  </div>
</div>
