<div class="container">
  <div class="backdrop">
    <h1>Register</h1>

    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit(registrationForm)">

      <div class="row">
        <div class="col-md-6">
          <label class="form-label" for="">First Name:</label>
          <input formControlName="firstName" id="firstName" name="firstName" class="form-control" type="text" required
            minlength="4" />
            <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)" class="alert alert-danger">
              <div *ngIf="firstName!.errors?.['required']">
                First Name is required.
              </div>
            </div>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="">Last Name:</label>
          <input formControlName="lastName" id="lastName" name="lastName" class="form-control" type="text" required
            minlength="4" />
            <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)" class="alert alert-danger">
              <div *ngIf="lastName!.errors?.['required']">
                Last Name is required.
              </div>
            </div>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="">Username:</label>
          <input formControlName="username" id="username" name="username" class="form-control" type="text" required
            minlength="4" />
            <div *ngIf="username!.invalid && (username!.dirty || username!.touched)" class="alert alert-danger">
              <div *ngIf="username!.errors?.['required']">
                Username is required.
              </div>
            </div>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="">Email Address:</label>
          <input formControlName="email" id="email" name="email" class="form-control" type="text" required
            minlength="4" />
            <div *ngIf="email!.invalid && (email!.dirty || email!.touched)" class="alert alert-danger">
              <div *ngIf="email!.errors?.['required']">
                Email address is required.
              </div>
            </div>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="">Password:</label>
          <input formControlName="password" id="password" name="password" class="form-control" type="text" required
            minlength="4" />
            <div *ngIf="password!.invalid && (password!.touched)" class="alert alert-danger">
              <div *ngIf="password!.errors?.['required']">
                Password is required.
              </div>
              <div *ngIf="password!.errors?.['minlength']">
                Password must be at least 4 characters in length.
              </div>
            </div>
        </div>

        <div class="col-md-6">
          <label class="form-label" for="">Re-enter Password:</label>
          <input formControlName="passwordConfirm" id="passwordConfirm" name="passwordConfirm" class="form-control"
            type="text" required minlength="4" />
            <!--TODO Custom validator to match password-->
        </div>
      </div>

      <p class="terms-txt">
        <input type="checkbox" name="" id=""required/> I agree to the Term of Service
        and Privacy Policy
      </p>

      <div class="container-center">
        <button type="submit" class="btn btn-primary" [disabled]="!registrationForm.valid">Register</button>
        <a routerLink="/home">
          <div type="button" class="btn btn-danger">Cancel</div>
        </a>
        <p class="login-txt">
          Already have an account? <a routerLink="/login">Login</a>
        </p>
      </div>
    </form>
  </div>
</div>