<div class="container">
  <div class="backdrop">
    <h1>Register</h1>

    <form action="">
      <div class="row">
        <div class="col-md-6">
          <label class="form-label" for="">First Name:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Last Name:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Username:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Email Address:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Password:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Re-enter Password:</label>
          <input class="form-control" type="text" />
        </div>
      </div>
      <p>
        <input type="checkbox" name="" id="" /> I agree to the Term of Service and Privacy Policy
      </p>

      <button type="submit" class="btn btn-primary">Register</button>
      <button type="submit" class="btn btn-danger">Cancel</button>
      <p>Already have an account? Login</p>
    </form>
  </div>
</div>
