nav {
    margin-bottom: 8%;
    padding: 3% 2%;
    font-family: "Manrope", sans-serif;
}

li {
    margin: auto 5%;
}

.logo {
    color: #F4A261;
    font-family: 'blanka';
}

.login-option {
    color: #F4A261;
    font-weight: 600;
}