nav {
  padding: 3% 0;
  font-family: "Manrope", sans-serif;
  position: relative;
  z-index: 10;
}

li {
  margin: auto 5%;
}

.logo {
  color: #f4a261;
  font-family: "Blanka", sans-serif;
}

.login-option {
  color: #f4a261;
  font-weight: 600;
}
