nav {
  margin-bottom: 8%;
  padding: 3% 0;
  font-family: "Manrope", sans-serif;
}

li {
  margin: auto 5%;
}

.logo {
  color: #f4a261;
  font-family: "blanka";
}

.login-option {
  color: #f4a261;
  font-weight: 600;
}
