/* You can add global styles to this file, and also import other style files */
body {
  background-color: #264653;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-weight: 700;
  color: #f4a261;
  line-height: 6.5rem;
  font-size: 5rem;
}

p {
  font-family: "Poppins", sans-serif;
}

img {
  z-index: -1;
}
