<div class="container">
  <div class="backdrop">
    <h1>Login</h1>

    <form action="">
      <label class="form-label" for="">Username:</label>
      <input class="form-control" type="text" />
      <label class="form-label" for="">Password:</label>
      <input class="form-control" type="text" />
      <p><a href="">Forgot password?</a></p>
      <button type="submit" class="btn btn-primary">Submit</button>
      <p>Don't have an account?</p>
      <button type="submit" class="btn btn-warning">Register</button>
    </form>
  </div>
</div>
