<div class="container">
  <h1>Project Description</h1>
  <p>
    The project was created during a Web Application Development (COMP 229)
    course at Centennial College using as main technologies Node.JS and Angular.
  </p>

  <p>
    <strong>Other technologies have been used such as:</strong> 
    <li>MongoDB Atlas for the database</li>
    <li>Firebase and Heroku for hosting</li>
    <li>Github for file management</li>
  </p>

  <h3>The project was composed of five development phases.</h3>
  <p>
    The first phase was project planing. The goal was to decide what type of
    platform we should build. Following the idea, we started working on the
    wireframe and external documentation regarding the execution of the project.
  </p>
  <p>
    The second step in the project was to initialize every components required
    to the execution. For instance, we initialize the server and client
    application, the database account creation, and the github repository. After
    initializing each components, we connected each one of them together. Some
    basic pages were designed and the initiale routing was created.
  </p>
  <p>
    The third phase included everything linked to the survey management tools
    like survey creation, survey editing, survey deletion and duplication. This
    stepped allowed user to manage any survey on the platform and save it to
    MongoDB Atlas.
  </p>
  <p>
    The fourth step included everything linked to the user management tools like
    user login, user registration and user logout. Adaptation was made to the
    survey components to be managed by the user who created it and anyone
    wanting to create a survey are now required to be registered to be able to
    create or edit surveys.
  </p>
  <p>
    The fifth is the last step allowing us to fix the page visuals and improve
    the website. More testing and revision was made. Also published the full
    website on the web.
  </p>

  <h1>FAQ</h1>
  <h3>How can I add a new survey?</h3>
  <p>
    You must register an account to add new surveys. Once registered, click on the New Survey button on the survey list pages.
  </p>
  <h3>How can I see the results for my survey?</h3>
  <p>
    You can access the results by logging in and clicking on the survey in your survey list.
  </p>
  <h3>What happened to my survey results?</h3>
  <p>
    If you edit your survey, it will delete any previously saved results/statistics.
  </p>
</div>
