<div class="container">
  <h1>Project Description</h1>
  <p>
    The project was created during a Web Application Development (COMP 229)
    course at Centennial College using Node.JS and Angular.
  </p>

  <h1>FAQ</h1>
  <h3>How can I add a new survey?</h3>
  <p>
    You must register an account to add new surveys. Once registered, click on the New Survey button on the survey list pages.
  </p>
  <h3>How can I see the results for my survey?</h3>
  <p>
    You can access the results by logging in and viewing your survey list.
  </p>
  <h3>What happened to my survey results?</h3>
  <p>
    If you edit your survey, it will delete any previously saved results/statistics.
  </p>
</div>
