.wrapper {
  margin-top: -6%;
  width: 100%;
  overflow: hidden;
}

.section1 {
  height: 350px;
}

h1 {
  padding-top: 6%;
}

h3 {
  color: #264653;
  margin-bottom: 3%;
  font-weight: 700;
}

.main-img {
  display: inline;
  height: 685px;
  margin: -550px -90px;
  float: right;
}

@media (max-width: 992px) {
  .main-img {
    display: none;
  }
}

.question-text {
  height: 45px;
  font-weight: 500;
}

.options-text {
  background-color: #e9c46a;
  padding: 2% 5%;
  margin: 1% 0;
  border-radius: 10px;
}

.backdrop {
  position: relative;
  margin-top: 12.5%;
  padding: 2% 5%;
  background-color: #f5f5f5;
  text-align: center;
  z-index: 1;
}

.survey-page {
  height: 250px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 5% 8%;
  cursor: pointer;
}

.survey-card {
  padding: 0 2%;
  text-align: left;
}
