<div class="container">
  <div class="backdrop">
    <h1>Contact Us</h1>
    <p class="description">
      Do you have any questions? Please do not hesitate to contact us directly.
      Our team will <br />
      come back to you within a matter of hours to help you.
    </p>
    <div class="row">
      <div class="col-md-5">
        <p>000-000-0000</p>
        <p>contactcodek@email.com</p>
      </div>
      <div class="col-md-1">
        PAD IMG
      </div>
      <div class="col-md-6">
        <form action="">
          <input class="form-control" type="text" placeholder="First Name" />
          <input class="form-control" type="text" placeholder="Last Name" />
          <input class="form-control" type="email" placeholder="Email Address" />
          <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
        </form>
      </div>
    </div>
  </div>
</div>
