p {
  color: #264653;
}

.description {
  text-align: center;
  margin: 0 5% 7%;
}

.backdrop {
  background-color: #bec8cc;
  border-radius: 20px;
  padding: 5% 8% 8%;
}

.form-control {
  margin: 1% 0;
}
