h1 {
    color: #264653;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    padding: 2% 0 0;
  }
  
  p {
    color: #264653;
  }
  
  .description {
    text-align: center;
    margin: 0 5% 7%;
  }
  
  .backdrop {
    padding: 0 15% 5%;
    background-color: #bec8cc;
    border-radius: 20px;
  }
  
  .form-label {
    margin: 4% 0 1%;
    color: #264653;
  }
  
  .terms-txt {
    margin: 4% 0;
  }
  
  .container-center {
    text-align: center;
  }
  
  .btn {
      padding: 2% 10%;
      margin: 0 2% 2%;
  }
  
  .login-txt {
      font-size: small;
      font-weight: 600;
  }

    h1 {
      margin-bottom: 4%;
    }
  
    h5 {
      color: #264653;
    }

    .myTitle {
      font-weight: 700;
        color: #f4a261;
        text-align: left;
        line-height: 6.5rem;
        font-size: 5rem;
        margin: 8% 0 4%;
    }
  
    .form-control {
      height: 60px;
      border-radius: 15px;
    }
  
    a:link {
      text-decoration: none;
      color: #264653;
    }
  
    a:visited {
      text-decoration: none;
      color: #264653;
    }
  
    a:hover {
      text-decoration: none;
      color: #fff;
    }
  
    a:active {
      text-decoration: none;
      color: #264653;
    }
  
    .btn-new {
      border-radius: 15px;
      font-weight: 600;
      font-size: large;
      width: 100%;
      height: 100%;
    }
  
    .btn-new:hover {
      background-color: #F4A261;
    }
  
    .list-header {
      padding: 1% 1% 0.25% 3%;
      background-color: #BEC8CC;
      border-radius: 20px;
      margin: 5% 0 2%;
    }
  
    .list-box {
      padding: 1% 1% 1% 3%;
      background-color: #BEC8CC;
      border-radius: 20px;
    }
  
    .list-del {
      display: inline;
      width: 3%;
      margin-right: 2%;
      color: #e76f51;
      font-weight: 800;
      display: flex;
      align-items: center;
    }
  
    .list-name {
      display: inline;
      width: 30%;
      margin-right: 5%;
      display: flex;
      align-items: center;
    }
  
    .list-type {
      display: inline;
      width: 20%;
      margin-right: 5%;
      display: flex;
      align-items: center;
    }
  
    .list-status {
      display: inline;
      width: 10%;
      margin-right: 5%;
      display: flex;
      align-items: center;
    }
  
    .list-edit {
      display: inline;
      width: 70px;
      margin-right: 1%;
      display: flex;
      align-items: center;
    }
  
    .list-duplicate {
      display: inline;
      width: 150px;
      display: flex;
      align-items: center;
    }
  
    .btn-list {
      width: 100%;
      height: 75px;
      border-radius: 15px;
      font-weight: 600;
      font-size: large;
    }
  
    .btn-outline-primary {
      border-color: #2A9D8F;
      color: #fff;
    }
  
    .btn-outline-primary:hover {
      background-color: #2A9D8F;
    }
  
    .btn-outline-primary.active {
      background-color: #2A9D8F;
    }