/* You can add global styles to this file, and also import other style files */
body {
    background-color: #264653;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold;
    color: #F4A261;
    line-height: 5.5rem;
    font-size: 5rem;
}

img {
    z-index: -1;
}